@import "../../../commonStyles/variables.module.scss";
@import "../../../commonStyles/mixins.module.scss";

.container {
  @include container;
  height: 100%;
}

.cardsContainer {
  @include flexAlignment;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  height: 100%;

  &__currentCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6fr 1fr 1fr;
    grid-template-areas:
      "prev card next"
      ". pagination ."
      ". total .";
    gap: 2rem;
    align-items: center;
  }

  &__card {
    grid-area: card;
  }

  &__prev {
    grid-area: prev;
  }

  &__next {
    grid-area: next;
  }

  &__pagination {
    grid-area: pagination;
  }

  &__total {
    grid-area: total;
  }

  &__pagination,
  &__total {
    justify-self: center;
    color: $darkBgColor;
    font-weight: 600;

    &_num {
      color: $lightBlueColor;
      font-size: larger;
    }
  }

  .errorMessage {
    text-align: center;
    font-weight: 600;
    font-size: larger;
    color: fade-in($themePink, 0.5);
  }

  &__cardsBox {
    @include flexAlignment;
    justify-content: space-between;
    gap: 2rem;
  }
}
