@import "../../commonStyles/variables.module.scss";
@import "../../commonStyles/mixins.module.scss";

.search {
  @include flexAlignment;
  gap: 1.5rem;
  background-color: $themePink;
  @include borderRounded;
  padding: 0.5rem 2rem;

  &__textInput {
    width: 20rem;
    @include borderRounded;
    font-size: 1rem;
  }

  &__btn {
    @include button;
  }

  &__chboxInput {
    margin: 0 0.5rem 0 0;
  }
}
