@import "../../commonStyles/variables.module.scss";
@import "../../commonStyles/mixins.module.scss";

.search {
  @include flexAlignment;
  gap: 1rem;

  &__input {
    width: 20rem;
    @include borderRounded;
    font-size: 1rem;
  }

  &__btn {
    @include borderRounded;
    background-color: $lightBlueColor;
    color: $lightFontColor;
    font-size: 1rem;
    font-weight: bolder;
    transition: $transition;
    cursor: pointer;

    &:hover,
    &:active {
      @include onHover;
    }
  }
}
