@import "../../commonStyles/variables.module.scss";
@import "../../commonStyles/mixins.module.scss";

.search {
  @include flexAlignment;
  gap: 1rem;

  &__input {
    width: 20rem;
    @include borderRounded;
    font-size: 1rem;
  }

  &__btn {
    @include button;
  }
}
