.btn {
  padding: 0.3rem 1rem;
  border: transparent;
  border-radius: 0.2rem;
  outline: none;
  background-color: rgb(90, 182, 181);
  color: rgba(255, 255, 255, 0.792);
  min-width: 7rem;
  font-size: 1rem;
  font-weight: bolder;
  transition: all ease 0.5s;
  cursor: pointer;
  max-width: max-content;
}
.btn:hover, .btn:active {
  color: rgb(0, 0, 0);
  transform: scale(1.02);
}