@import "./fonts.module.scss";
@import "./variables.module.scss";
@import "./mixins.module.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 300 normal 18px/22px Lato, sans-serif;
  color: $darkFontColor;
}
