@import "./variables.module.scss";

@mixin flexAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.5rem 5rem;
}

@mixin theme($theme) {
  .bg {
    background-color: $theme;
    transition: $transition;

    &:hover,
    &:active {
      background-color: fade-in($theme, 0.5);
    }
  }
}

@mixin borderRounded {
  padding: 0.3rem 1rem;
  border: transparent;
  border-radius: $borderRadius;
  outline: none;
}

@mixin onHover {
  color: $darkFontColor;
  transform: scale(1.02);
}

@mixin navLink {
  color: $lightFontColor;
  text-decoration: none;
  font-weight: bolder;
  transition: $transition;
}

@mixin button {
  @include borderRounded;
  background-color: $lightBlueColor;
  color: $lightFontColor;
  min-width: 7rem;
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  transition: $transition;
  cursor: pointer;

  &:hover,
  &:active {
    @include onHover;
  }

  &:focus {
    outline: 2px solid $darkBlueColor;
    outline-offset: 1px;
  }
}

@mixin tableButton {
  @include borderRounded;
  cursor: pointer;
  min-width: 6rem;
}
