@import "./variables.module.scss";

@mixin flexAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.5rem 5rem;
}

@mixin theme($theme) {
  .bg {
    background-color: $theme;
    transition: $transition;

    &:hover,
    &:active {
      background-color: fade-in($theme, 0.5);
    }
  }
}

@mixin borderRounded {
  padding: 0.3rem 1rem;
  border: transparent;
  border-radius: $borderRadius;
  outline: none;
}

@mixin onHover {
  color: $darkFontColor;
  transform: scale(0.97);
}

@mixin navLink {
  color: $lightFontColor;
  text-decoration: none;
  font-weight: bolder;
  transition: $transition;

  &:hover,
  &:active {
    @include onHover;
  }
}
