$darkBgColor: rgb(5, 94, 124);
$grayBgColor: rgb(167, 169, 171);
$darkFontColor: rgb(0, 0, 0);
$lightFontColor: rgb(255, 255, 255);
$lightBlueColor: rgb(90, 182, 181);
$darkBlueColor: rgb(43, 113, 112);

$themePink: rgba(243, 144, 144, 0.5);
$themeBlue: rgba(90, 182, 181, 0.5);
$themeGreen: rgba(133, 243, 94, 0.5);

$transition: all ease 0.5s;
$transformScale: scale(0.97);

$borderRadius: 0.1rem;

$box-shadow: 0 2px 5px rgba($darkBgColor, 0.26);

// rgb(109, 218, 88);
