$darkBgColor: rgb(5, 94, 124);
$grayBgColor: rgb(226, 229, 231);
$darkFontColor: rgb(0, 0, 0);
$lightFontColor: rgba(255, 255, 255, 0.792);
$lightBlueColor: rgb(90, 182, 181);
$darkBlueColor: rgb(18, 102, 101);

$themePink: rgba(243, 144, 144, 0.5);
$themeBlue: rgba(90, 182, 181, 0.5);
$themeGreen: rgba(133, 243, 94, 0.5);

$transition: all ease 0.5s;
$transformScale: scale(0.97);

$borderRadius: 0.2rem;

$box-shadow: 0 2px 5px #919191;
