@import "../../commonStyles/variables.module.scss";
@import "../../commonStyles/mixins.module.scss";

.header {
  background-color: $darkBgColor;
  position: sticky;
  top: 0;
  z-index: 5;

  &__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    @include flexAlignment;
    gap: 2.5rem;

    &_link {
      @include navLink;
    }
  }
}

.container {
  @include container;
}
