.header {
  background-color: rgb(5, 94, 124);
  position: sticky;
  top: 0;
  z-index: 5;
}
.header__container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.header__nav_link {
  color: rgba(255, 255, 255, 0.792);
  text-decoration: none;
  font-weight: bolder;
  transition: all ease 0.5s;
}
.header__nav_link_active {
  color: rgb(0, 0, 0);
  transform: scale(0.97);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.5rem 5rem;
}