@import "../../commonStyles/variables.module.scss";
@import "../../commonStyles/mixins.module.scss";

.footer {
  background-color: $darkBgColor;
  padding-bottom: 2rem;

  &__container {
    color: $lightFontColor;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: $lightFontColor;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__nav {
    @include flexAlignment;
    gap: 2rem;

    &_link {
      @include navLink;
    }
  }
}

.container {
  @include container;
}
