@import "../../commonStyles/variables.module.scss";
@import "../../commonStyles/mixins.module.scss";

.container {
  @include container;
  height: 100%;
}

.notFound {
  height: 100%;
  @include flexAlignment;
  flex-direction: column;
  gap: 2rem;
  color: $darkBlueColor;

  &__404 {
    font-size: 4rem;
  }

  &__title {
    font-weight: bolder;
    font-size: 1.3rem;
  }

  &__homeLink {
    @include button;
  }
}
